:root {
    --main-bg-color: #666;
    --button-color: red;
    --circle-tri-color: #63ec63;
    --circle-w: 200px;
}
body {
    font-family: Poppins, sans-serif;
    background: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.description-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    position: relative;
}

.feedback {
}

body .startBtn {
    background: var(--button-color);
    border: none;
    border-radius: 4px;
    color: #fff;
    width: 200px;
    cursor: pointer;
    padding: 16px 20px;
    transition: 0.6s ease scale;
}
body .startBtn:hover {
    transform: scale(1.05);
}
body #circle {
    display: none;
    width: var(--circle-w);
    height: var(--circle-w);
    border-radius: 50%;
    background-color: var(--circle-tri-color);
    position: relative;
}
