
	:root {
        --bg-main: #f2f2f2;
        --color-main: #404040;
        --ball-color: rgb(66, 73, 168);
        --padding-rl: 3.2rem;
        --padding-tb: min(max(8rem, calc(8rem + ((1vw - 0.48rem) * 5.5556))), 12rem);
        --m-width: 112rem;
        --clamp-padding-tb: clamp(8rem, calc(8rem + ((1vw - 0.48rem) * 5.5556)), 12rem);
    }

    body, html {
        font-size: 62.5%;
    }

    body {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        height: 100vh;
        width: 100vw;
        color: var(--color-main);
        background-color: var(--bg-main);
        overflow: hidden;
      }

      h1 {
        font-size: clamp(2.4rem, calc(2.4rem + ((1vw - 0.48rem) * 1.9444)), 3.8rem);
        min-height: 0vw;
      }

      p {
        font-size: clamp(1.6rem, calc(1.6rem + ((1vw - 0.48rem) * 1.6667)), 2rem);
        min-height: 0vw;
      }

      #inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: var(--padding-rl);
        padding-right: var(--padding-rl);
        padding-bottom: var(--padding-tb);
        padding-top: var(--padding-tb);
        max-width: var(--m-width);
        margin-left: auto;
        margin-right: auto;
        height: 100%;
      }

      /* Support for clamp function */
      @supports (padding-bottom: var(--clamp-padding-tb)) and (padding-top: var(--clamp-padding-tb)) {

        #inner  {
            padding-bottom: var(--clamp-padding-tb);
            padding-top: var(--clamp-padding-tb);
        }

      }

    #area {
		width: 100%;
		height: 100%;
		background-color: var( --bg-main);
	}

	#circle {
		width: 5rem;
		height: 5rem;
		background-color: var(--ball-color);
		border-radius: 50%;
		position: absolute;
	}


  .is--italic {
      font-style: italic;
  }

  .is--hidden {
    display: none !important;
  }

	.button {
    text-align: center;
    background-color: #FFFFFF;
    padding: 1.6rem 2.4rem;
    font-size: 1.8rem;
    font-weight: 700;
    border: .4rem solid black;
    border-radius: .4rem;
    transition: .3s ease transform, background;
    cursor: pointer;
    user-select: none;
  }

  .button:is(:hover, :focus) {
      background-color: black;
      color: white;
      transform: scale(1.05);
  }

  .button:is(:hover, :focus) .sender {
    color: white !important;
}
